
.tabla{
    table-layout: fixed;
    text-align: left;
    width: 100%;
}
th{
    text-transform: uppercase;
    padding: 20px 15px;
}


td{
    padding: 15px;
    border-bottom: solid 1px rgba(225, 225, 225, 0.3);
}

tbody tr:hover {
    background-color: rgba(225, 225, 225, 0.3) ;
}

.btn-add,
.btn-subtract,
.btn-eliminar{
    cursor: pointer;
}
