h1{
	padding: 30px;
	font-size: 1.6rem;
}

.container-items {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	gap: 16px;
}

.item {
	border-radius: 10px;
}

.item:hover {
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.item img {
	width: 100%;
	object-fit: contain;
}

.item figure {
	overflow: hidden;
}

.info-product {
	padding: 10px 10px;
	line-height: 1.2;
	display: flex;
	flex-direction: column;
	gap: 5px;
	font-size: .9rem;
}
.info-product h2, h3{
	font-size: 1.1rem;
}

.price {
	font-size: 18px;
	font-weight: 900;
}

.info-product button {
	border: none;
	background: none;
	background-color: #000;
	color: #fff;
	padding: 15px 10px;
	cursor: pointer;
}

@media (max-width: 480px) {
    .container-items{
		display: block;
		margin: 10px;
	}
	h1{
		text-align: center;
		padding: 0;
	}
	.item{
		display: block;
	}
	.info-product{
		font-size: 0.8rem;
		padding: 5px;
	}
	.info-product h3{
		font-size: 0.8rem;
	}
  }
